<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Log In</h1>
                <hr />
            </div>

            <div class="main-login main-center">

                <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="login()">

                    <!-- <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon mr-2"><i class="fa fa-user fa"
                                        aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="uname" formControlName="uname" id="uname"
                                    placeholder="Enter your Name" />
                            </div>
                            <div *ngIf="(this.loginForm.get('uname')?.touched || this.loginForm.get('uname')?.dirty) && this.loginForm.get('uname')?.errors"
                                style="color: red;">
                                invalid User Name
                            </div>

                        </div>
                    </div> -->

                    <div class="form-group">
                        <label class="cols-sm-2 control-label">User ID</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon mr-2"><i class="fa fa-users fa"
                                        aria-hidden="true"></i></span>
                                <input type="number" class="form-control" formControlName="uid" name="uid" id="uid"
                                    placeholder="Enter User ID" />
                            </div>
                        </div>

                        <div *ngIf="(this.loginForm.get('uid')?.touched || this.loginForm.get('uid')?.dirty) && this.loginForm.get('uid')?.errors"
                            style="color: red;">
                            invaid User Id
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon mr-2"><i class="fa fa-lock fa-lg"
                                        aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" formControlName="password"
                                    id="password" placeholder="Enter your Password" />
                            </div>
                        </div>
                        <div *ngIf="(this.loginForm.get('password')?.touched || this.loginForm.get('password')?.dirty) && this.loginForm.get('password')?.errors"
                            style="color:red ;">
                            invalid Password
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">LogIn</button>
                    </div>
                    <div class="login-register">
                        <a routerLink="/register">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="assets/js/bootstrap.js"></script>